/* src/components/modal.module.css */
.emailOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .emailContent {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 300px;
    text-decoration: none;
  }
  a {
    color: #2e8555;
    text-decoration: none;  
    cursor: pointer;
  }
  
  a:hover {
    text-decoration: underline; 
  }
  
  button {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #2e8555;
    color: white;
    border: none;
    cursor: pointer;
  }
  